<html>
  <head>
  </head>
  <body>
    <h1>{{done}}</h1>
      <h1>{{data.table.BreedName}}</h1>
      <img src="{{{data.table.Image.url}}}"/>
      <pre>
        {{wikiTableJSON}}
      </pre>
      {{#unless done}}
        <script>
          window.location.assign('{{{meta.next}}}');
        </script>
      {{else}}
        <h1>Done!</h1>
      {{/unless}}

  </body>
</html>
