<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
{{!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> --}}
<link href="https://fonts.googleapis.com/css?family=Raleway:800|Slackey" rel="stylesheet">
{{#unless displayOptions.print}}
  <div class="nav-btns">
    <div class="left">
      <a href="{{meta.prev}}">
        <i class="fa fa-3x fa-chevron-left" aria-hidden="true"></i>
      </a>
    </div>
    <div class="right">
      <a href="{{meta.next}}">
        <i class="fa fa-3x fa-chevron-right" aria-hidden="true"></i>
      </a>
    </div>
  </div>
{{/unless}}


<div class="breed">
  {{#if displayOptions.front}}
    <div class="cards">
    <div class="card card--front {{#if breed.prefs.rotate}}card--tall{{else}}card--wide{{/if}}">
      <div class="img {{breed.prefs.fpos}}" style='background-image: url("{{breed.prefs.images.front}}");'></div>
    </div>
  {{/if}}

  {{#if displayOptions.back}}
    <div class="card card--back card--tall -grid">
      <div class="card-inner">
        <div class="content">
          <div class="img {{breed.prefs.bpos}}" style='background-image: url("{{breed.prefs.images.back}}");'>
          </div>
          <div class="content-inner">
            <div class="card-top">
              <h3 class="name">{{breed.breed}}</h3>
              <div class="placeholder"></div>
            </div>
            <div class="card-bottom">
              <div class="placeholder"></div>
              {{#if breed.groups.text}}
                <div class="feature">{{breed.groups.text}}</div>
              {{/if}}
              {{#or breed.height.result.avg breed.weight.result.avg}}
                <div class="feature">
                  {{#if breed.height.result.avg}}
                    <span class="pastel-scarlet text">
                      {{#eq breed.height.result.min breed.height.result.max}}
                        {{round breed.height.result.avg}}"
                      {{else}}
                        {{round breed.height.result.min}}-{{round breed.height.result.max}}"
                      {{/eq}}
                    </span>&nbsp;
                  {{/if}}
                  {{#if breed.weight.result.avg}}
                    <span class="pastel-blue-green text">{{round breed.weight.result.min}}-{{round breed.weight.result.max}} lb</span>
                  {{/if}}
                </div>
              {{/or}}
              <div class="paragraphs">
                {{#each breed.orderedSections as |section|}}
                  <div class="section {{section.slug}} hide">
                    {{#each section.lines as |line|}}
                      <span class="sentence hide">{{line.text}}</span>
                    {{/each}}
                  </div>
                {{/each}}
                {{!--
                {{#if breed.hyphenated.Intro}}
                  <div class="summary">
                    {{#each breed.hyphenated.Intro as |line|}}
                      <span class="sentence hide">{{line.text}}</span>
                    {{/each}}
                  </div>
                {{/if}}
                {{#if breed.hyphenated.Temperament}}
                  <div class="temperment">
                    {{#each breed.hyphenated.Temperament as |line|}}
                      <span class="sentence hide">{{line.text}}</span>

                    {{/each}}
                  </div>
                {{/if}}
                --}}
              </div>
            </div>
          </div>
          {{#if breed.dt}}
            <div class="icons">
              {{#gt breed.dt.summary.Adaptability 4}}
                <i class="fa fa-refresh fa-fw" aria-hidden="true"></i>
              {{/gt}}
              {{#gt breed.dt.info.FriendlyTowardStrangers 4}}
                <i class="fa fa-user-secret fa-fw" aria-hidden="true"></i>
              {{/gt}}
              {{#gt breed.dt.info.DogFriendly 4}}
                <i class="fa fa-paw fa-fw" aria-hidden="true"></i>
              {{/gt}}
              {{#gt breed.dt.info.EnergyLevel 4}}
                <i class="fa fa-coffee fa-fw" aria-hidden="true"></i>
              {{/gt}}
              {{#gt breed.dt.info.EasyToTrain 4}}
                <i class="fa fa-graduation-cap fa-fw" aria-hidden="true"></i>
              {{/gt}}
              {{#gt breed.dt.info.Intelligence 4}}
                <i class="fa fa-lightbulb-o fa-fw" aria-hidden="true"></i>
              {{/gt}}
              {{#gt breed.dt.info.ToleratesBeingAlone 4}}
                <i class="fa fa-street-view fa-fw" aria-hidden="true"></i>
              {{/gt}}
              {{#gt breed.dt.info.GeneralHealth 4}}
                <i class="fa fa-heartbeat fa-fw" aria-hidden="true"></i>
              {{/gt}}
              {{#gt breed.dt.info.AffectionatewithFamily 4}}
                <i class="fa fa-users fa-fw" aria-hidden="true"></i>
              {{/gt}}

              {{#gt breed.dt.info.AdaptsWelltoApartmentLiving 4}}
                <i class="fa fa-building-o fa-fw" aria-hidden="true"></i>
              {{/gt}}
              {{#gt breed.dt.info.IncrediblyKidFriendlyDogs 4}}
                <i class="material-icons">child_friendly</i>
              {{/gt}}
              {{#gt breed.dt.summary.AllAroundFriendliness 4}}
                <i class="material-icons">local_florist</i>
              {{/gt}}
              {{#gt breed.dt.info.TendencyToBarkOrHowl 4}}
                <i class="fa fa-bullhorn " aria-hidden="true"></i>
              {{/gt}}
              {{#gt breed.dt.info.GoodForNoviceOwners 4}}
                <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>
              {{/gt}}
              {{#gt breed.dt.info.SensitivityLevel 4}}
                <i class="fa fa-frown-o fa-fw" aria-hidden="true"></i>
              {{/gt}}
              {{#gt breed.dt.info.ExerciseNeeds 4}}
                <i class="material-icons">directions_run</i>
              {{/gt}}
              {{#gt breed.dt.info.PreyDrive 4}}
                <i class="fa fa-bug fa-fw" aria-hidden="true"></i>
              {{/gt}}
              {{#gt breed.dt.info.ToleratesHotWeather 4}}
                <i class="fa fa-sun-o fa-fw" aria-hidden="true"></i>
              {{/gt}}
              {{#gt breed.dt.info.EasyToGroom 4}}
                <i class="fa fa-scissors fa-fw" aria-hidden="true"></i>
              {{/gt}}
              {{#gt breed.dt.info.Intensity 4}}
                <i class="fa fa-bolt fa-fw" aria-hidden="true"></i>
              {{/gt}}
              {{#gt breed.dt.info.AmountOfShedding 4}}
                <i class="material-icons">gesture</i>
              {{/gt}}
              {{#gt breed.dt.info.PotentialForPlayfulness 4}}
                <i class="material-icons">bubble_chart</i>
              {{/gt}}
              {{#gt breed.dt.info.WanderlustPotential 4}}
                <i class="fa fa-chain-broken fa-fw" aria-hidden="true"></i>
              {{/gt}}
              {{#gt breed.dt.info.PotentialForMouthiness 4}}
                <i class="fa fa-birthday-cake fa-fw" aria-hidden="true"></i>
              {{/gt}}
              {{#gt breed.dt.info.ToleratesColdWeather 4}}
                <i class="material-icons">ac_unit</i>
              {{/gt}}
              {{#gt breed.dt.info.PotentialForWeightGain 4}}
                <i class="fa fa-balance-scale fa-fw" aria-hidden="true"></i>
              {{/gt}}
              {{#gt breed.dt.info.DroolingPotential 4}}
                <i class="fa fa-tint fa-fw" aria-hidden="true"></i>
              {{/gt}}
            </div>
          {{else}}
            {{!--
            {{#gt breed.genTraits.confidence.min 0.7}}
              {{#gt breed.genTraits.confidence.avg 0.85}}
                {{#gt breed.genTraits.confidence.median 0.95}}
            --}}
                  <div class="icons muted">
                    {{#if breed.genTraits.info.SUMMARY_adaptability }}
                      <i class="fa fa-refresh fa-fw" aria-hidden="true"></i>
                    {{/if}}
                    {{#if breed.genTraits.info.friendlytowardstranger }}
                      <i class="fa fa-user-secret fa-fw" aria-hidden="true"></i>
                    {{/if}}
                    {{#if breed.genTraits.info.friendly }}
                      <i class="fa fa-paw fa-fw" aria-hidden="true"></i>
                    {{/if}}
                    {{#if breed.genTraits.info.energylevel }}
                      <i class="fa fa-coffee fa-fw" aria-hidden="true"></i>
                    {{/if}}
                    {{#if breed.genTraits.info.easytotrain }}
                      <i class="fa fa-graduation-cap fa-fw" aria-hidden="true"></i>
                    {{/if}}
                    {{#if breed.genTraits.info.intelligence }}
                      <i class="fa fa-lightbulb-o fa-fw" aria-hidden="true"></i>
                    {{/if}}
                    {{#if breed.genTraits.info.toleratesbeingalone }}
                      <i class="fa fa-street-view fa-fw" aria-hidden="true"></i>
                    {{/if}}
                    {{#if breed.genTraits.info.generalhealth }}
                      <i class="fa fa-heartbeat fa-fw" aria-hidden="true"></i>
                    {{/if}}
                    {{#if breed.genTraits.info.affectionatewithfamily }}
                      <i class="fa fa-users fa-fw" aria-hidden="true"></i>
                    {{/if}}
                    {{#if breed.genTraits.info.adaptswelltoapartmentliving }}
                      <i class="fa fa-building-o fa-fw" aria-hidden="true"></i>
                    {{/if}}
                    {{#if breed.genTraits.info.incrediblykidfriendly }}
                      <i class="material-icons">child_friendly</i>
                    {{/if}}
                    {{#if breed.genTraits.info.SUMMARY_allaroundfriendlines }}
                      <i class="material-icons">local_florist</i>
                    {{/if}}
                    {{#if breed.genTraits.info.tendencytobarkorhowl }}
                      <i class="fa fa-bullhorn " aria-hidden="true"></i>
                    {{/if}}
                    {{#if breed.genTraits.info.goodfornoviceowner }}
                      <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>
                    {{/if}}
                    {{#if breed.genTraits.info.sensitivitylevel }}
                      <i class="fa fa-frown-o fa-fw" aria-hidden="true"></i>
                    {{/if}}
                    {{#if breed.genTraits.info.exerciseneed }}
                      <i class="material-icons">directions_run</i>
                    {{/if}}
                    {{#if breed.genTraits.info.preydrive }}
                      <i class="fa fa-bug fa-fw" aria-hidden="true"></i>
                    {{/if}}
                    {{#if breed.genTraits.info.tolerateshotweather }}
                      <i class="fa fa-sun-o fa-fw" aria-hidden="true"></i>
                    {{/if}}
                    {{#if breed.genTraits.info.easytogroom }}
                      <i class="fa fa-scissors fa-fw" aria-hidden="true"></i>
                    {{/if}}
                    {{#if breed.genTraits.info.intensity }}
                      <i class="fa fa-bolt fa-fw" aria-hidden="true"></i>
                    {{/if}}
                    {{#if breed.genTraits.info.amountofshedding }}
                      <i class="material-icons">gesture</i>
                    {{/if}}
                    {{#if breed.genTraits.info.potentialforplayfulnes }}
                      <i class="material-icons">bubble_chart</i>
                    {{/if}}
                    {{#if breed.genTraits.info.wanderlustpotential }}
                      <i class="fa fa-chain-broken fa-fw" aria-hidden="true"></i>
                    {{/if}}
                    {{#if breed.genTraits.info.potentialformouthines }}
                      <i class="fa fa-birthday-cake fa-fw" aria-hidden="true"></i>
                    {{/if}}
                    {{#if breed.genTraits.info.toleratescoldweather }}
                      <i class="material-icons">ac_unit</i>
                    {{/if}}
                    {{#if breed.genTraits.info.potentialforweightgain }}
                      <i class="fa fa-balance-scale fa-fw" aria-hidden="true"></i>
                    {{/if}}
                    {{#if breed.genTraits.info.droolingpotential }}
                      <i class="fa fa-tint fa-fw" aria-hidden="true"></i>
                    {{/if}}
                  </div>
                  {{!--
                {{/gt}}
              {{/gt}}
            {{/gt}}--}}
          {{/if}}

          {{#if breed.height.disp.avg}}
            <div class="left-stat stat">
              <div
                class="line-chart pastel-scarlet background"
                style="bottom: {{breed.height.disp.low}}%; height: {{breed.height.disp.range}}%;"
                >
              </div>
              <div class="dot-wrapper">
                <i
                  class="fa fa-circle fa-fw chart-dot pastel-scarlet text" --}}
                  aria-hidden="true"
                  style="top: {{breed.height.disp.avg}}%;"
                  ></i>
              </div>
            </div>
          {{/if}}
          {{#if breed.weight.disp.avg}}
            <div class="right-stat stat">
              <div
                class="line-chart pastel-blue-green background"
                style="bottom: {{breed.weight.disp.low}}%; height: {{breed.weight.disp.range}}%;"
                >
              </div>
              <div class="dot-wrapper">
                <i
                  class="fa fa-circle fa-fw chart-dot pastel-blue-green text"
                  aria-hidden="true"
                  style="top: {{breed.weight.disp.avg}}%;"
                  ></i>
              </div>
            </div>
          {{/if}}
          {{#if breed.lifeSpan.disp.avg}}

            <div class="bottom-stat">
              <div
                class="line-chart pastel-white background"
                style="left: {{breed.lifeSpan.disp.low}}%; width: {{breed.lifeSpan.disp.range}}%;"
                >
              </div>
              <div class="dot-wrapper">
                <i
                  class="fa fa-circle fa-fw chart-dot pastel-white text"
                  aria-hidden="true"
                  style="left: {{breed.lifeSpan.disp.avg}}%;"
                  ></i>
              </div>
            </div>
          {{/if}}






        </div>


      </div>


    </div>
    </div>
    {{/if}}
</div>
{{#unless displayOptions.print}}
    <div class="clear">

    <div class="gallery">
      <h2 class="muted">Front</h2>
      {{#each breed.images.images as |image|}}
        {{#if image.url}}
          <a href="?front={{encodeURI image.file}}">
            <img src="{{image.url}}" alt="{{image.file}}" title="{{image.file}}"/>
          </a>
        {{/if}}
      {{/each}}
      <div class="positioner">
        <div>
          <a class="left-top" href="?fpos=left-top">&nbsp;</a>
          <a class="center-top" href="?fpos=center-top">&nbsp;</a>
          <a class="right-top" href="?fpos=right-top">&nbsp;</a>
        </div>
        <div>
          <a class="left-center" href="?fpos=left-center">&nbsp;</a>
          <a class="center-center" href="?fpos=center-center">&nbsp;</a>
          <a class="right-center" href="?fpos=right-center">&nbsp;</a>
        </div>
        <div>
          <a class="left-bottom" href="?fpos=left-bottom">&nbsp;</a>
          <a class="center-bottom" href="?fpos=center-bottom">&nbsp;</a>
          <a class="right-bottom" href="?fpos=right-bottom">&nbsp;</a>
        </div>
      </div>
      <a class="rotate" href="?rotate=true">
        <i class="fa fa-rotate-left muted" aria-hidden="true"></i>
      </a>
      <h2 class="muted">Back</h2>
      {{#each breed.images.images as |image|}}
        {{#if image.url}}
          <a href="?back={{encodeURI image.file}}">
            <img src="{{image.url}}" alt="{{image.file}}" title="{{image.file}}"/>
          </a>
        {{/if}}
      {{/each}}
      <div class="positioner">
        <div>
          <a class="left-top" href="?bpos=left-top">&nbsp;</a>
          <a class="center-top" href="?bpos=center-top">&nbsp;</a>
          <a class="right-top" href="?bpos=right-top">&nbsp;</a>
        </div>
        <div>
          <a class="left-center" href="?bpos=left-center">&nbsp;</a>
          <a class="center-center" href="?bpos=center-center">&nbsp;</a>
          <a class="right-center" href="?bpos=right-center">&nbsp;</a>
        </div>
        <div>
          <a class="left-bottom" href="?bpos=left-bottom">&nbsp;</a>
          <a class="center-bottom" href="?bpos=center-bottom">&nbsp;</a>
          <a class="right-bottom" href="?bpos=right-bottom">&nbsp;</a>
        </div>
      </div>

    </div>

    <br/>
    <br/>
    <pre>prioritized: {{stringify breed.sectionNames 2}}</pre>
    <pre>available: {{stringify breed.allSectionNames 2}}</pre>
    <br/>
    <br/>
    <pre>{{stringify breed 2}}</pre>
  </div>
{{/unless}}

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/scripts/cards.js"></script>
