<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
<div class="nav-btns">
  <div class="left">
    <a href="{{meta.prev}}">
      <i class="fa fa-3x fa-chevron-left" aria-hidden="true"></i>
    </a>
  </div>
  <div class="right">
    <a href="{{meta.next}}">
      <i class="fa fa-3x fa-chevron-right" aria-hidden="true"></i>
    </a>
  </div>
</div>

{{#withFirst breed}}
  <div class="breed">

    <div class="cards">
    <div class="card card--front {{#if this.prefs.rotate}}card--tall{{else}}card--wide{{/if}}">
      <div class="img {{this.prefs.fpos}}" style='background-image: url("{{this.prefs.images.front}}");'></div>
    </div>

    <div class="card card--back card--tall -grid">
      <div class="card-inner">
        <div class="content">
          <div class="img {{this.prefs.bpos}}" style='background-image: url("{{this.prefs.images.back}}");'>
          </div>
          <div class="content-inner">
            <div class="card-top">
              <h3 class="name">{{this.breed}}</h3>
              <div class="placeholder"></div>
            </div>
            <div class="card-bottom">
              <div class="placeholder"></div>
              {{#if this.groups.text}}
                <div class="feature">{{this.groups.text}}</div>
              {{/if}}
              {{#or this.height.result.avg this.weight.result.avg}}
                <div class="feature">
                  {{#if this.height.result.avg}}
                    <span class="pastel-scarlet text">{{round this.height.result.min}}-{{round this.height.result.max}}"</span>&nbsp;
                  {{/if}}
                  {{#if this.weight.result.avg}}
                    <span class="pastel-blue-green text">{{round this.weight.result.min}}-{{round this.weight.result.max}} lb</span>
                  {{/if}}
                </div>
              {{/or}}
              <div class="paragraphs">
                {{#if this.text.Intro}}
                  <div class="summary">
                    {{#each this.text.Intro as |line|}}
                      <span class="sentance hide">{{line.text}}</span>
                    {{/each}}
                  </div>
                {{/if}}
                {{#if this.text.Temperament}}
                  <div class="temperment">
                    {{#each this.text.Temperament as |line|}}
                      <span class="sentance hide">{{line.text}}</span>

                    {{/each}}
                  </div>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
    </div>
  </div>
  <div class="clear">

  <div class="gallery">
    <h2 class="muted">Front</h2>
    {{#each this.images.images as |image|}}
      {{#if image.url}}
        <a href="?front={{encodeURI image.file}}">
          <img src="{{image.url}}" alt="{{image.file}}" title="{{image.file}}"/>
        </a>
      {{/if}}
    {{/each}}
    <div class="positioner">
      <div>
        <a class="left-top" href="?fpos=left-top">&nbsp;</a>
        <a class="center-top" href="?fpos=center-top">&nbsp;</a>
        <a class="right-top" href="?fpos=right-top">&nbsp;</a>
      </div>
      <div>
        <a class="left-center" href="?fpos=left-center">&nbsp;</a>
        <a class="center-center" href="?fpos=center-center">&nbsp;</a>
        <a class="right-center" href="?fpos=right-center">&nbsp;</a>
      </div>
      <div>
        <a class="left-bottom" href="?fpos=left-bottom">&nbsp;</a>
        <a class="center-bottom" href="?fpos=center-bottom">&nbsp;</a>
        <a class="right-bottom" href="?fpos=right-bottom">&nbsp;</a>
      </div>
    </div>
    <a class="rotate" href="?rotate=true">
      <i class="fa fa-rotate-left muted" aria-hidden="true"></i>
    </a>
    <h2 class="muted">Back</h2>
    {{#each this.images.images as |image|}}
      {{#if image.url}}
        <a href="?back={{encodeURI image.file}}">
          <img src="{{image.url}}" alt="{{image.file}}" title="{{image.file}}"/>
        </a>
      {{/if}}
    {{/each}}
    <div class="positioner">
      <div>
        <a class="left-top" href="?bpos=left-top">&nbsp;</a>
        <a class="center-top" href="?bpos=center-top">&nbsp;</a>
        <a class="right-top" href="?bpos=right-top">&nbsp;</a>
      </div>
      <div>
        <a class="left-center" href="?bpos=left-center">&nbsp;</a>
        <a class="center-center" href="?bpos=center-center">&nbsp;</a>
        <a class="right-center" href="?bpos=right-center">&nbsp;</a>
      </div>
      <div>
        <a class="left-bottom" href="?bpos=left-bottom">&nbsp;</a>
        <a class="center-bottom" href="?bpos=center-bottom">&nbsp;</a>
        <a class="right-bottom" href="?bpos=right-bottom">&nbsp;</a>
      </div>
    </div>

  </div>

    <br/>
    <br/>
    <br/>
    <br/>

    <pre>{{stringify this 2}}</pre>
  </div>
{{/withFirst}}

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/scripts/cards.js"></script>
