<h1>{{title}}</h1>
<p>Welcome to {{result}}</p>

{{#each rows}}
  <h1>{{this.Breed}}</h1>
  <h4>{{this.Origin}}</h4>
  <dl>
  {{#each this}}
    {{#if this}}
      {{#compare @key "!==" "Breed"}}
        <dt>{{@key}}</dt> <dd>{{this}}</dd>
      {{/compare}}

    {{/if}}
  {{/each}}
  </dl>
{{/each}}
