<pre>cmbObjects: {{stringify cmbObjects 2}}</pre>
{{!--

<table>
  {{#each aspects as |aspect|}}
    <tr>
      <td>beep</td>
      <td>{{@key}}</td>
      <td>{{aspect.ids.length}}</td>
    </tr>
  {{/each}}
</table>
<pre>aspects: {{stringify aspects 2}}</pre>

{{#each docs as |doc|}}
  <pre>{{stringify doc.aspectList 2}}</pre>
{{/each}}

<pre>cmb: {{stringify cmb 2}}</pre>
<pre>testResult: {{stringify testResult 2}}</pre>

{{#each docs}}
  <dl>
    <dt style="color: #d0d0d0;">{{this.table.Breed}}:</dt>
    <dd>
      <pre>{{stringify this.aspects 2}}</pre>

    </dd>
  </dl>
{{/each}}
--}}
{{!--

{{#unless done}}
  <script>
    window.location.assign('{{{meta.next}}}');
  </script>
{{else}}
  <h1>Done!</h1>
{{/unless}}

--}}
